<div class="card">
    <div class="card-header">
        <div class="container">
            <i class="fas fa-sign-in-alt"></i><span> Sign In</span>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <form action="">
                <div class="form-group">
                    <input type="text" name="usu" class="form-control" placeholder="Usuario">
                </div>
                <div class="form group">
                    <input type="password" name="pass" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block mt-2"> Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>