<div class="card">
    <div class="card-header">
        <h1>Como surge todo esto?</h1>
    </div>
    <div class="card-body">
        <div class="col-md-8">
            <img src="/upload/logo.png" alt="logo"> 
            <blockquote style="float:right;"> - Hablemos de algo</blockquote>
            <p class="mt-2">Gracias por interesarte en mi pequeño viaje.</p>
            <p>Este sitio nace con el fin de encontrar o formar una idea clara de lo que esta pasando actualmente.
                Volcar mis pensamientos, leer comentarios de quien se anime a comentar. Quizas a modo de catarsis, y seguramente muchas veces
                tenga una idea equivocada o difetente al resto. Lo cual no significa que quiera ofender o lastimar a nadie.

            </p>
            <p>
                Desde hace un tiempo me he puesto a leer con mas detenimiento las noticias y tratar de formar una opinion de las mismas,
                o sobre temas actuales.
                Y me di cuenta de que (quizas por mi forma de ser...) no siempre encontraba con quien "debatir", o no podia encontrar
                la forma de darme a entender sin hacer enojar a las personas con las que estaba comentando. 
                Cosa que me llevo a guardarme todo, a no querer compartir pensamientos. Solo por no tener que entrar en discusiones que no suman.
                Y que al contrario, pueden ser catalizadores para restar en los vinculos.
            </p>
            <p>
                Por dichos motivos, decidi crear este sitio. Donde intentare liberarme de mis pensamientos sin el miedo de ofender a nadie.. sin 
                romper vinculos con mis allegados.
                Espero que sepan entender el sentido con el que relatare las publicaciones y que se animen a comentar. Nadie es perfecto y nadie tiene
                que pensar igual que el otro. Pero se puede llegar a un punto medio negociando.

            </p>
        </div>
    </div>
    {{>footer}}
</div>