<div class="card mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Hablemos de algo!</h1>
                <p class="lead">Bienvenidos a mi sitio, un lugar donde intentare redactar mis pensamientos respecto a
                    la situacion actual de mi pais... de mi vida. Intentando de alguna forma
                    mostrar mi putno de vista (equivocado...o no), y sin animos de ofender a nadie.

                </p>
                <hr class="my-4">
                <p><i>Espero que disfruten mi contenido.. y si se animan.. comenten que les parece</i></p>
                <a class="btn btn-primary btn-lg" href="/about" role="button">Como surge todo esto?</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md 8">
            {{>contenido}}
        </div>
        <div class="col-md-4">
            {{>ultimos}}
        </div>
    </div>
    {{>footer}}
</div>