<div class="container">
    <div class="row p-2">
        <div class="card mt-2">
            <div class="card-header">
                <h4>Titulo</h4>
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum minima debitis placeat, harum iste
                    necessitatibus mollitia at quasi blanditiis commodi cum exercitationem labore ipsa, eos, rem
                    voluptatibus numquam ab voluptates.
                </p>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-header">
                <h4>Titulo</h4>
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum minima debitis placeat, harum iste
                    necessitatibus mollitia at quasi blanditiis commodi cum exercitationem labore ipsa, eos, rem
                    voluptatibus numquam ab voluptates.
                </p>
            </div>
        </div>
    </div>
</div>