    <div class="card-footer mt-4 foot">
        <div class="col-md-8">
            <p>
                <blockquote>
                    "You never know how strong you are... until being strong is the only thing you have left"
                </blockquote>
            </p>
        </div>

    </div>