<div class="card">
    <div class="card-header text-white" style="background:  #EB3349;">
        <h4>Ultimos comentarios</h4>
    </div>
    <div class="card-body">
        <div class="card p-1">
            <p>Post</p>
            <span>Usuario</span>
        </div>
    </div>
</div>